%nav.top-bar{"data-topbar" => ""}
  .top-bar-left
    %ul.title-area
      %li.name
        %h1= link_to 'Home', authenticated_root_path
  .top-bar-section
    %ul.left
      -# %li.menu-text= link_to "Rubrics", rubrics_path
  .top-bar-section
    %ul.right
      %li.menu-text= link_to "Sign Out", destroy_user_session_path, method: :delete
